{% extends "entidades/index.html" %}


{% block titulo %}
<h1 class="site-heading text-center text-faded d-none d-lg-block">
<span class="site-heading-upper text-primary mb-3">Alumnos</span>
</h1>
{% endblock titulo %}



{% block contenido %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    {% for a in Alumno %}
        <tr>
            <td>{{ a.id }}</td>
            <td>{{ a.Nombre }}</td>
            <td>{{ a.Apellido }}</td>
            <td>{{ a.Email }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}
    
