{% extends "entidades/index.html" %}


{% block titulo %}
<h1 class="site-heading text-center text-faded d-none d-lg-block">Estilos</h1>
{% endblock titulo %}



{% block contenido %}
    <h2>Aqui se brindara información sobre los distintos estilos que se practican</h2>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Estilo</th>
                <th>Horarios</th>
            </tr>
        </thead>
        <tbody>
        {% for e in Estilos %}
            <tr>
                <td>{{ e.id }}</td>
                <td>{{ e.Nombre }}</td>
                <td>{{ e.Estilo }}</td>
                <td>{{ a.Horarios }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}
    


